<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'app/css/style.css' %}" />
    <link rel="shortcut icon" href="{% static 'app/img/favicon.ico' %}" type="image/x-icon">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <title>mini tattoo - минималистичные тату</title>
    <meta name="viewport" content="width=device-width, initial-scale=1 maximum-scale=1.0, user-scalable=no">
</head>
<body>
    <div class="main" id="main">
        <div class="background_block"></div>
        <div class="header">
            <div class="header-content-wrap">
                <div class="left-part part">
                    <div class="phone">
                        <!--<img src="{% static 'app/img/phone.svg' %}">-->
                        <p>+7 929 007 91 06</p>
                    </div>
                </div>
                <div class="mid-part part">
                    <p>mini tattoo</p>
                </div>
                <div class="right-part part">
                    <div class="social insta">
                        <img src="{% static 'app/img/instagram.svg'%}">
                    </div>
                    <div class="social vk">
                        <img src="{% static 'app/img/vk.svg'%}">
                    </div>
                </div>
            </div>
        </div>
        <div class="content-wrap">
            <div class="content">
                <div class="grid-wrap">
                    {% for pic in pics %}
                    <div class="grid-elem">
                        <img src="{{ pic.image.url }}" v-on:mouseover="mouseOver({{pic.id}})" v-on:mouseleave="mouseLeave({{pic.id}})" v-on:click="chooseImg('{{pic.image.url}}')">
                        <div class="price" id="{{pic.id}}">
                            <p>{{ pic.price }} руб.</p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="padding-bottom"></div>
                <div class="detail-view" v-if="choosenImg !== ''" v-on:click="choosenImg = ''">
                        <div class="detail-img-wrap">
                        <img v-bind:src="choosenImg" id="choosenImg">
                    </div>
                </div>
            </div>
        </div>
    </div>
<script>
    new Vue({
      delimiters: ['${', '}'],
      el: '#main',
      data: {
          choosenImg: ''
      },
      methods: {
          mouseOver(id) {
              var elem = document.getElementById(id);
              elem.style.opacity = "1";
          },
          mouseLeave(id) {
              var elem = document.getElementById(id);
              elem.style.opacity = "0";
          },
          chooseImg(url) {
              this.choosenImg = url;
          }
      }
    });
</script>
</body>
</html>