@import url('https://fonts.googleapis.com/css?family=Covered+By+Your+Grace');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');
@import url('https://fonts.googleapis.com/css?family=Handlee');
@import url('https://fonts.googleapis.com/css?family=Crafty+Girls|Give+You+Glory|Rancho');

/*font-family: 'Crafty Girls', cursive;*/
/*font-family: 'Give You Glory', cursive;*/
/*font-family: 'Rancho', cursive;*/

.body {
    padding: 0;
    margin: 0 !important;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: inherit;
}
.main {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    position: fixed;
    top:0;
    left:0;
    bottom:0;
    background-color: transparent;
}
.background_block {
    /*background-color: #333333;*/
    background-color: #2c3e50;
    background-image: url("/static/app/img/gray_back.png");
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    position: fixed;
    top:0;
    left:0;
}
.header {
    position: fixed;
    top:0;
    left:0;
    width: 100vw;
    height: 50px;
    z-index: 99;
    background-color: rgba(20, 29, 38, 0.9);
}
.header-content-wrap {
    width: 80%;
    height: 100%;
    margin: auto;
}
.part {
    width: calc(100% / 3);
    height: 100%;
    float: left;
}
.left-part {
    /*background-color: green;*/
}
.mid-part {
    /*background-color: red;*/
}
.right-part {
    /*background-color: gray;*/
}

.content-wrap {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left:0;
    bottom: 0;
    overflow-y: auto;
    z-index: 98;
}
.content {
    width: 80%;
    height: 100%;
    margin:auto;
    padding-top: 70px;
    padding-bottom: 100px;
    position: relative;
}
.padding-bottom {
    width: 100%;
    float:left;
    height: 100px;
}
.grid-wrap {
    column-count: auto;
    column-gap: 20px;
    column-width: 250px;
}
.grid-elem {
    display: inline-block;
    margin: 0 0 10px;
    width: 100%;
    position: relative;
}

.grid-elem img {
    width: 100%;
    object-fit: cover;
    border-radius: 2px;
}

.grid-elem img:hover {
    /*box-shadow: 1px 1px 4px 2px rgba(0, 0, 0, .8);*/
}

.price {
    width: 100px;
    height: 30px;
    position: absolute;
    right: 20px;
    bottom: 20px;
    background-color: rgba(20, 29, 38, 0.9);
    border-radius: 2px;
    text-align: center;
    opacity: 0;
    transition: all 0.2s linear;
}
.price p {
    color: #bdc3c7;
    font-family: 'Open Sans', sans-serif;
    font-size: 12pt;
    margin:0;
    margin-top: 3px;
    font-weight: 300;
}

.mid-part {
    text-align: center;
}
.mid-part p {
    /*font-family: 'Covered By Your Grace', cursive;*/
    /*font-family: 'Handlee', cursive;*/
    font-family: 'Rancho', cursive;
    /*font-family: 'Open Sans', sans-serif;*/
    font-weight: 300;
    font-size: 34pt;
    color: rgba(52, 152, 219, 0.7);
    margin:0;
    padding: 0;
    margin-top: -4px;
}

.social {
    float: right;
    width: 40px;
    height: 40px;
    margin-top: 5px;
    margin-right: 8px;
    margin-left: 8px;
    cursor: pointer;
}
.social img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.social:hover {
    width: 42px;
    height: 42px;
    margin-top: 4px;
    margin-right: 7px;
    margin-left: 7px;
}
.phone {
    width: 100%;
    height: 100%;
}
.phone img{
    width: 30px;
    height: 30px;
    object-fit: cover;
    margin-top: 10px;
    float: left;
    margin-right: 15px;
}
.phone p{
    /*color: #27ae60;*/
    color: #bdc3c7;
    font-size: 16pt;
    float: left;
    margin-top: 10px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

.content-wrap::-webkit-scrollbar {
    width: 10px;
    height: 80%;
}

.content-wrap::-webkit-scrollbar-track {
    border: 0px;
    margin-top:50px;
}

.content-wrap::-webkit-scrollbar-thumb {
    background-color: #ecf0f1;
    border-radius: 2px;
}

.detail-view {
    position: fixed;
    width: 100%;
    height: 100%;
    left:0;
    top:0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 98;
    text-align: center;
}
.detail-img-wrap {
    max-width: 100%;
    margin-top: 80px;
    height: calc(100% - 120px);
    position: relative;
}
.detail-view img {
    height: 100%;
    width: auto;
    object-fit: cover;
}

@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 767px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .mid-part {
        width: 100%;
        height: 100%;
    }
    .left-part{
        position: fixed;
        bottom:0;
        left:0;
        width: 60%;
        height: 50px;
        z-index: 99;
        background-color: rgba(20, 29, 38, 0.9);
    }
    .right-part {
        position: fixed;
        bottom:0;
        right:0;
        width: 40%;
        height: 50px;
        z-index: 99;
        background-color: rgba(20, 29, 38, 0.9);
    }
    .phone img{
        display: none;
    }
    .phone p{
        margin-left: 10px;
    }
    .content-wrap::-webkit-scrollbar-track {
        margin-bottom:56px;
    }
    .detail-view {
        display: none;
    }
}

